@font-face { font-family: FlameSans-Bold; src: url('../flame-font/FlameBold.otf'); } 
      h2,h3,h4 {
         font-family: FlameSans-Bold
      }
@font-face { font-family: FlameSans-Regular; src: url('../flame-font/FlameRegular.otf'); } 
      body {
         font-family: FlameSans-Regular
      }



.Oggetto {
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    /* grid-area: b; */
    color: #FF8732;
}

.Descrizione {
    font-size: 15px;
    font-style: normal;
    color: #FF8732;
    padding: 15px;
    text-align: center;
    margin-top: 25px;
    grid-area: c;
}

.immagine{
    padding-top: 20px;
}

.bodyMenu {
    padding-top: 60px;
}

h2 {
    font-size: 50px;
    text-align: center;
    margin-top: 35px;
    margin-bottom: -10px;
    color: #4462cf;
}

h3 {
    font-size: 35px;
    text-align: center;
    margin-top: 55px;
    color: #db0000;
}

.flexbox {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
    align-items: center;
}

/* .flexitem {
    flex-grow: 1;
    background-color: #ffffff;
    padding: 25px;
    justify-content: space-evenly;
    margin: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.1);

    display: grid;
    grid-template:  'a a a b b b b' 10px
                    'a a a b b b b' 10px
                    'a a a c c c c' 5px
                    'a a a c c c c'/ 5px;
} */

.categ {
    margin-bottom: 75px;
}

.card{
    height: 340px;
    width: 250px;
    position: relative;
    transition: all 0.5s linear;
    transform-style: preserve-3d;
}

.front,
.back{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    /* font-family: 'italic', cursive; */
    font-weight: bold;
    border-radius: 20px;
    position: absolute;
}

.front{
    background: linear-gradient(#502314, #573328);
    z-index: 2;
    backface-visibility: hidden;
}

.back{
    background: linear-gradient(#502314, #573328);
    z-index: 1;
    transform: rotateY(180deg);
}

.containercarta:hover .card{
    transform: rotateY(180deg);
    transition: 0.5s
}

.containercarta{
    perspective: 1000px;
    margin: 10px ;
}